.bestSellingProducts__list h1{
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 16px;
}
.bestSellingProducts__list p{
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #6A983C;
}
.bestSellingProducts__list li{
	margin-bottom: 12px;
}
.bestSellingProducts__item{
	border: 1px solid #D1D1D1;
	border-radius: 12px;
	position: relative;
}
.bestSellingProducts{
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}
.bestSellingProducts__window{
	display: flex;
	gap: 32px;
	padding-left: 55px;
}
.bestSellingProducts__item-photo{
	max-height: 180px;
	max-width: 260px;
	
	
	// padding-top: 16px;
	// padding-left: 16px;
	padding-bottom: 16px;
	border-radius: 11px;
}
.bestSellingProducts__item-discont{
	position: absolute;
	left: 16px;
	top: 24px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color:#9ecf9d;
	color: #034d02;
	border-radius: 10px;
	// width: 45px;
	
}
.bestSellingProducts__item h3{
	font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */

text-decoration-line: line-through;

/* C1/C */

color: #A9A9A9;
}
.bestSellingProducts__item h2{
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	color: #151515;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 12px;
}
.bestSellingProducts__item p{
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #575757;
	padding-right: 16px;
	padding-left: 16px;
}
.bestSellingProducts__item h1{
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	padding-top: 21px;
}
.bestSellingProducts__item button{
	color: white;
	background-color: #6A983C;
	border: 2px solid #46760A;
	border-radius: 12px;
	height: 36px;
	width: 90px;
	font-weight: 700;
	font-size: 15px;
	line-height: 22px;
	margin-top: 16px;
	margin-bottom: 16px;
}
.bestSellingProducts__item-price{
	display: flex;
	justify-content: space-between;
	margin-right: 16px;
	margin-left: 16px;
}