.blogposts__hero{
	background-image: url('..//images/Rectangle\ 22.png');
	max-width: 469px;
	max-height: 400px;
	border-radius: 20px;
}
.blogposts{
	padding-bottom: 64px;
}
.blogposts__hero h1{
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	padding-top: 273px;
	max-width: 469px;
	padding-left: 24px;
	color: #FFFFFF;
}
.blogposts__content{
	display: flex;
	justify-content: space-between;
}
.blogposts__header{
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 36px;
	margin-top: 69px;
}
.blogposts__recommendations{
	max-width: 269px;
}
.blogposts__recommendations-paragraph{
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	margin-top: 24px;
	margin-bottom: 8px;
	color: #6A983C;
}
.blogposts__recommendations h1{
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;

}
.blogposts__reccomendations-user-info{
	display: flex;
	gap: 15px;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	padding-top: 16px;
}
.blogposts__news img{
	max-width: 96px;
}
.blogposts__hero-user img{
	max-width: 32px;
}
.blogposts__hero-user-info p{
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	margin-top: 8px;
	margin-left: 10px;
}
.blogposts__hero-user-info{
	display: flex;
	padding-left: 24px;
	padding-top: 8px;
}
.blogposts__news-content h1{
	max-width: 225px;
}
.blogposts__news-item{
	display: flex;
	margin-bottom: 32px;
}
.blogposts__news-item h1{
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
}