.header__products-section-list-item img{
	width: 16px;
	margin-left: 5px;
}
.header__products-section-list-item p{
	font-weight: 500;
}
.header__products-section-list-item{
	display: flex;
	padding-bottom: 16px;
	margin-top: 16px;
}
.header__products-section-list{
	display: flex;
	justify-content: space-between;
	margin: 0 60px;
}
.header__products-setcion{
	background-color:  #F9F9F9;;
}

