.ourcustomers-item img{
	width: 48px;
	height: 48px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
	margin-bottom: 66px;
}
.ourcustomers h1{
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	margin-bottom: 65px;
}
.ourcustomers-list{
	display: flex;
}
.ourcustomers h2{
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 24px;
}
.ourcustomers p{
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #A9A9A9;
	text-align: center;
}
