.header__menu-logo{
	width: 177px;
}
.header__menu-search{
	background: #F9F9F9;
	width: 500px;
	height: 42px;
	border: 1px solid #D1D1D1;
	border-radius: 12px;
}
.header__menu{
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	padding-bottom: 48px;
}
.header__menu-icons{
	display: flex;
	gap: 35px;

	& img{
		width: 24px;
	}
}
.header__menu-search-buttonCategories{
	display: flex;
	width: 160px;
	gap: 10px;

	& p {
		font-weight: 700;
		font-size: 15px;
		line-height: 22px;
		color: #151515;
		padding: 10px 0 10px 16px;
	}
}
.header__menu-search-buttonCategories-line{
	padding-top: 12px;
	// margin-left: 20px;
	width: 1px;
	height: 30px;
}
.header__menu-search-buttonCategories-chevron{
	width: 16px;
}
.header__menu-search{
	display: flex;
	
}
.header__menu-search-input{
	width: 300px;
	resize: none;
	border: none;
	padding-top: 9px;
	padding-left: 10px;
	background-color: #F9F9F9;
	&:focus{
		outline: none;
	}
}
